/*
  <a href = '#' class = 'image-effect'>
    <img src = "imagem" class = 'img-fluid w-100 m-auto' alt = '...'/>
  </a>
*/

/*image hover effects "B" nomear melhor*/
.img-fx-b{
  /*background-color:yellow;*/
  position:relative;
  display:block;
  overflow:hidden;
}

.img-fx-b img{
  width:100%;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  /*para prevenir o flicker da opacidade em elementos img com transition*/
  -moz-transform: rotate(0);
  -webkit-transform: translateZ(0);
  background-color:rgba(255,255,255,1);
}

.img-fx-b:hover img{
  opacity:.6;
  transform: scale(1.1,1.1) rotate(0);
  -webkit-transform: scale(1.1,1.1) translateZ(0);
}
.img-fx-b::before,.img-fx-b::after{
  position:absolute;
  box-sizing: content-box;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.img-fx-b::before{
  font-family:'dv icons';
  content:'\002a';
  width:70%;
  z-index:1;
  /*font-size:24px;*/
  font-size:104px;
  left: 15%;
  height:0;
  color:rgba(255,255,255,0);
  text-align:center;
/*  background-image:url('/images/patterns/wavecut.png');*/
  background-color:rgba(209,144,42,.5);
}
.img-fx-b:hover::before{
  height:100%;
  color:rgba(255,255,255,.3);
}

.img-fx-b::after{
  font-family:'Roboto Slab',serif;
  content:attr(content);
  width:70%;
  font-size:34px;
  left: 15%;
  text-align:center;
  color:rgba(255,255,255,0);
  top:100%;
}

.img-fx-b:hover::after{
  opacity:1;
  z-index:2;
  top:40%;
  color:rgba(255,255,255,.9);
 /* text-shadow:0 0 6px #736610;*/
}
