/* SLIDES FULL BLOCK*/
.slider-full-block{
  height:500px;
  background-color:rgba(255,255,255,0);
}
  
.slider-full-block .carousel-item{
  height:500px;
  overflow:hidden;
  background-repeat:no-repeat;
  background-position:0 0;
  background-size:100% auto;
}

.carousel-control-prev,.carousel-control-next{
  width:5%;
}
.carousel-control-prev span,.carousel-control-next span{
  font-size:3em!important;
  color:#fff;
}
.h-85{
  height:85%!important;
}
.carousel-item .title{
  color:#fff;
  font-size:40px;
  width:50%;
  border-radius:10px;
  text-shadow:1px 1px 3px rgba(0,0,0,.7);
  position:relative;
}

.carousel-item:before{
  content:'';
  left:0;
  position:absolute;
  bottom:0;
  width:100%;
  height:70%;
  /*background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.8));*/
}


.__container-feature{
  padding-left:70px;
  position:relative;
}
.__container-feature::before{
	font-family:'dv-icons';
  content: '\0061';
  font-size:2.4em;
  position:absolute;
  left:0;
  top:0;
  width:2em;
  color:#2b67ad;
}
.__container-feature.feat-atendimento::before{ content: '\f2b5';}
.__container-feature.feat-focus::before{ content: '\f201';}
.__container-feature.feat-exp::before{ content: '\f0f4';}


/*CNT Manager*/

.__blk-cnt-manager{
  padding-top:100px;
}
