.blk-slide{
  height:420px;
}

.blk-slide::before{
  content:'';
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  background-color:rgba(215,184,119,1);
  background-image:url('/fe/images/patterns/wavecut.png');
}
.blk-slide .poly-cut::before{
  background:-webkit-linear-gradient(60deg, rgba(100,80,30,1) 0%,rgba(100,80,30,.4) 40%,rgba(100,80,30,0) 100%);
}
.blk-slide .poly-cut-left-bottom-top::before,.poly-cut-left-top-bottom::before{
  background:-webkit-linear-gradient(-60deg, rgba(100,80,30,0) 0%,rgba(100,80,30,.4) 40%,rgba(100,80,30,1) 100%)!important;
}

.slides-title{
  font-weight:700;
  color:#fff;
}
h1.slides-title{
  font-size:46px;
}
h3.slides-title{
  font-size:36px;
  font-weight:400!important;
}

.carousel-inner{
  background-color:red!important!imporant;
}