.blk-slide{
  height:500px;
  border:1px red solid;
}
.blk-slide::before{
  content:'';
  position:absolute;
  width:100%;
  height:350px;
  margin-top:75px;
  top:0;
  background-color:rgba(12,80,179,.3);
}

.blk-slide-01{
  background:transparent url('/images/slides/bg1.jpg') no-repeat 0 0;
  background-size:100% auto;
}

.blk-slide-02{
  background:transparent url('/images/slides/bg2.jpg') no-repeat 0 0;
  background-size:100% auto;
}

.blk-slide-03{
  background:transparent url('/images/slides/bg3.jpg') no-repeat 0 0;
  background-size:100% auto;
}

.blk-slide-03::before{
  background-color:rgba(255,255,255,.5);
}
.blk-slide-03 p, .blk-slide-03 h2{
  color:#0c50b3;  
}

.blk-slide-02::before{
  background-color:rgba(91,163,4,.5);
}


.block-text-1{
  background-color:rgba(255,255,255,.7);
  font-size:16px;
  text-align:center;
}

.block-slide-text-2{
  color:#fff;
  font-weight:bold;
  font-family:"Poppins";
  font-size:36px
}
.pessoa2{
  border:1px blue solid;
  width:
  position:absolute;
  background:transparent url('/images/slides/pessoa-02.png') no-repeat bottom right;
  background-size:auto 95%;
}