#suporte{
  background: linear-gradient(to right, #0c50b3 , #062148);
  /*background: linear-gradient(to right, #5ba304 , #467c03);*/
}

#suporte *{
  /*font-family:"Poppins", Helvetica, sans-serif;*/
  color:#fff;
  opacity:.8;
}


#suporte > div{
  padding-top:25px;
  padding-bottom:25px;
 /* background-color:#5ba304;*/
  background-color:#0c50b3;
}
#suporte > div:hover *{
  opacity:1;
}

#suporte > div+div{
  /*background-color:#549604;*/
  background-color:#093980;
}
#suporte > div+div+div{
  /*background-color:#467c03;*/
  background-color:#062148;
}

#suporte i.ico{
  font-size:70px;
}
#suporte h1,#suporte h2{
  font-size:20px;
  letter-spacing:1px;
  text-align:center;
  font-weight:bold;
  font-family:'Oswald',sans-serif;
  font-size:26px;
  padding-bottom:15px;
}
#suporte h2{
  font-weight:normal;
  font-size:22px;
}

