.blk-tsm{
  border-radius:3px;
  box-shadow:0 0 9px rgba(50,110,50,.2);
  padding:10px;
  margin:0 8px;
  overflow:hidden;
  position:relative;
}

.blk-tsm:hover{
  box-shadow:0 0 13px rgba(50,110,50,.4);
}


.blk-tsm .aspas{
  position:absolute;
  top:0;
  margin-right:-10px;
  margin-top:-45px;
  right:0;
  color:#4caf50;
  opacity:.2;
  font-size:82px;
} /*jalapao020779*/

.tsm-nome{
  color:#2f6c32;
  opacity:.6;
}


.tsm-empresa{
  color:#999;
}

.tsm-cidade{
  font-size:16px;
  color:#ccc;
}

.tsm-text{
  font-style:italic;
  color:#666;
  text-align:left;
  font-size:16px;
}
.tsm-text::before{
  content:'"';
}
.tsm-text::after{
  content:'"';
}
