#back-to-top
{
  position: fixed;
  right: 10px;
  bottom: 10px;
  width:36px;
  height:36px;
  z-index: 1060;
  border-radius: 50%;
  opacity:1;
  cursor:pointer;
  background-color:rgba(210,145,40,.6);
  -webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

#back-to-top::after{
  font-family:"dv icons";
  content:'\0030';
  border-radius: 50%;
  box-sizing: border-box;
  position:absolute;
  top:0;
  left:0;
  width:36px;
  height:36px;
  line-height:36px;
  font-size:18px;
  text-align:center;
  -webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

#back-to-top:hover{
  background-color:rgba(210,145,40,.9);
}
#back-to-top:hover::after{
  background-color:rgba(210,145,40,.6);
}
