.form-control.form-control-lg{
  padding-right:20px;
}

.modal.show{
  background-color:rgba(0,0,0,.8);
}




/*
.nav.nav-tabs{
  margin-bottom:.5em;
}
.nav.nav-tabs li a{
  padding:.7em .5em .4em .5em;
  letter-spacing:1px;
}
.nav.nav-tabs li{
  margin-right:.3em;
}

.form-group.is-focused .bmd-label-floating, .form-group.is-focused .bmd-label-floating.__required{color:#5bc5e8;}

.form-group.is-filled .bmd-label-floating,
.form-group.is-filled .bmd-label-floating.__required,
.form-group.is-filled .bmd-label-static.__required,
.form-group.is-focused .bmd-label-static,
.form-group.is-filled .bmd-label-static,
.bmd-label-static
{color:#80b85c;}

.form-group .bmd-label-floating{color:#bbb;}
.form-group .bmd-label-floating.__required,
.form-group .bmd-label-static.__required
{color:#d9534f;}

.form-group select.form-control-lg{
  margin-top:-2px!important;
}

*/

/*ajuste no X dos modais*/
button.close{
  margin-top:-3px;
}
button.close span.fa{
  cursor:pointer!important;
}
/*classe hidden all*/
.hidden-all{
  display:none!important;
}