.fixed{
  background-color:#000!important;
  box-shadow:0 2px 6px rgba(0,0,0,1);
}

.fixed::before{
  content:'';
  background-image:url('/fe/images/patterns/wavecut.png');
  position:absolute;
  width:100%;
  opacity:.2;
  height:100%;
  top:0;
  left:0;
}