/*separators  -----------------------------------------------------------------------*/

.separator{
  background-image:url('/fe/images/patterns/wavecut.png');
  height:140px;
  box-shadow:0 -3px 8px rgba(0,0,0,.4);
}
.separator h1{
  color:#fff;
  text-shadow:1px 1px 6px rgba(0,0,0,.6);
  font-size:40px;
}

.separator-secondary{
  position:relative;
}

.separator-secondary::before{
  content:'';
  position:absolute;
  width:100%;
  left:0;
  bottom:0;
  height:2px;
  background:-webkit-linear-gradient(45deg,rgba(115,100,15,0),rgba(115,100,15,.5),rgba(115,100,15,0));
}

.separator-secondary h1{
  position:relative;
}
.separator-secondary h1::after{
  box-sizing: content-box;
  font-family:"dv icons";
  content:'\0035';
  position:absolute;
  width:20px;
  line-height:20px;
  text-align:center;
  font-size:13px;
  left:calc(50% - 10px);
  border:1px rgba(255,255,255,0) solid;
  bottom:-10px;
  color:rgba(183,177,124,1);
}

.separator-secondary h1::before{
  content:'';
  box-sizing: content-box;
  position:absolute;
  height:24px;
  width:24px!important;
  line-height:26px;
  left:calc(50% - 12px);
  bottom:-12px;
  border-radius:50%;
  background-image:url('/fe/images/patterns/wavecut.png');
  border:1px #f4f5dc solid;
  background-color:#f4f5dc;
}

/* poly-recorte em imagens   */
.poly-cut img,.poly-cut::before{
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
}
.poly-cut-rl img,.poly-cut-rl::before{
  -webkit-clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%)!important;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%)!important;
}
.poly-cut-left-bottom-top img,.poly-cut-left-bottom-top::before{
  -webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%)!important;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%)!important;
}
.poly-cut-left-top-bottom img,.poly-cut-left-top-bottom::before{
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%)!important;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%)!important;
}
.poly-cut{
  position:relative;
  width:100%;
  margin-left:-1%;
}
.poly-cut-left-bottom-top, .poly-cut-left-top-bottom{
  margin-left:0!important;
}
.poly-cut img{
  opacity:1;
} 
.poly-cut::before{
  content:'';
  position:absolute;
  width:100%;
  height:100%;
  left:1%;
  background:-webkit-linear-gradient(60deg, rgba(0,0,0,1) 0%,rgba(0,0,0,.7) 40%,rgba(0,0,0,0) 100%);
}
.poly-cut-left-bottom-top::before,
.poly-cut-left-bottom-top::before,
.poly-cut-left-top-bottom::before,
.poly-cut-left-top-bottom::before{
  left:-1%!important;
  background:-webkit-linear-gradient(-60deg, rgba(0,0,0,0) 0%,rgba(0,0,0,.7) 40%,rgba(0,0,0,1) 100%);
}  
/* Fim poly-recorte   */



/* fe-block-shadow */
.fe-block-shadow{
  overflow:hidden;
  box-shadow:3px 3px 6px rgba(0,0,0,.4);
}