.form-theme-classic *{
  font-family:'Roboto Slab',sans-serif!important;
}
.form-theme-classic .form-control.form-control-lg{
  padding-right:10px!important;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                                                        
    ██╗          █████╗     ██████╗     ███████╗    ██╗         ███████╗
    ██║         ██╔══██╗    ██╔══██╗    ██╔════╝    ██║         ██╔════╝
    ██║         ███████║    ██████╔╝    █████╗      ██║         ███████╗
    ██║         ██╔══██║    ██╔══██╗    ██╔══╝      ██║         ╚════██║
    ███████╗    ██║  ██║    ██████╔╝    ███████╗    ███████╗    ███████║
    ╚══════╝    ╚═╝  ╚═╝    ╚═════╝     ╚══════╝    ╚══════╝    ╚══════╝
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* focus out and empty normal*/
.form-theme-classic .form-group .bmd-label-floating,
.form-theme-classic .form-group .bmd-label-static{
  color:rgba(0,0,0,.6);
  font-size:18px;
  margin-top:5px;
}
/* focus out and empty required*/
.form-theme-classic .form-group .bmd-label-floating.__required,
.form-theme-classic .form-group .bmd-label-static.__required{
  color:rgba(0,0,0,.6);
}

/* any label FOCUSED, EMPTY*/
.form-theme-classic .form-group.is-focused .bmd-label-floating,
.form-theme-classic .form-group.is-focused .bmd-label-static,
.form-theme-classic .form-group.is-focused .bmd-label-floating.__required,
.form-theme-classic .form-group.is-focused .bmd-label-static.__required{
  color:rgba(0,0,0,.6);
  margin-top:-5px;
  font-size:15px;
/*  font-size:.9rem;*/
}

/* any label FILLED, EMPTY OR FILLED*/
.form-theme-classic .form-group.is-filled .bmd-label-floating,
.form-theme-classic .form-group.is-filled .bmd-label-static,
.form-theme-classic .form-group.is-filled .bmd-label-floating.__required,
.form-theme-classic .form-group.is-filled .bmd-label-static.__required{
  color:rgba(0,0,0,.6);
  margin-top:-5px;
  font-size:15px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                                                      
    ██╗    ███╗   ██╗    ██████╗     ██╗   ██╗    ████████╗    ███████╗
    ██║    ████╗  ██║    ██╔══██╗    ██║   ██║    ╚══██╔══╝    ██╔════╝
    ██║    ██╔██╗ ██║    ██████╔╝    ██║   ██║       ██║       ███████╗
    ██║    ██║╚██╗██║    ██╔═══╝     ██║   ██║       ██║       ╚════██║
    ██║    ██║ ╚████║    ██║         ╚██████╔╝       ██║       ███████║
    ╚═╝    ╚═╝  ╚═══╝    ╚═╝          ╚═════╝        ╚═╝       ╚══════╝
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.form-theme-classic .form-control, .is-focused .form-control {
  background-image: linear-gradient(0deg,rgba(0,0,0,.3) 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
  color:#736610;
}


/* focus out and empty normal*/
.form-theme-classic .form-group input.form-control{
  color:rgba(0,0,0,.8);
}
/* any label FOCUSED, EMPTY*/
.form-theme-classic .form-group.is-focused input.form-control{
  color:rgba(0,0,0,.8);
}

/* any label FILLED, EMPTY OR FILLED*/
.form-theme-classic .form-group.is-filled input.form-control{
  color:rgba(0,0,0,.8);
}


