.form-theme-dark *{
  font-family:'Roboto Slab',sans-serif!important;
}
.form-theme-dark .form-control.form-control-lg{
  padding-right:10px!important;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                                                        
    ██╗          █████╗     ██████╗     ███████╗    ██╗         ███████╗
    ██║         ██╔══██╗    ██╔══██╗    ██╔════╝    ██║         ██╔════╝
    ██║         ███████║    ██████╔╝    █████╗      ██║         ███████╗
    ██║         ██╔══██║    ██╔══██╗    ██╔══╝      ██║         ╚════██║
    ███████╗    ██║  ██║    ██████╔╝    ███████╗    ███████╗    ███████║
    ╚══════╝    ╚═╝  ╚═╝    ╚═════╝     ╚══════╝    ╚══════╝    ╚══════╝
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* focus out and empty normal*/
.form-theme-dark .form-group .bmd-label-floating,
.form-theme-dark .form-group .bmd-label-static{
  color:rgba(255,255,255,.6);
  font-size:18px;
  margin-top:5px;
}
/* focus out and empty required*/
.form-theme-dark .form-group .bmd-label-floating.__required,
.form-theme-dark .form-group .bmd-label-static.__required{
  color:rgba(255,255,255,.6);
}

/* any label FOCUSED, EMPTY*/
.form-theme-dark .form-group.is-focused .bmd-label-floating,
.form-theme-dark .form-group.is-focused .bmd-label-static,
.form-theme-dark .form-group.is-focused .bmd-label-floating.__required,
.form-theme-dark .form-group.is-focused .bmd-label-static.__required{
  color:rgba(255,255,255,.6);
  margin-top:-5px;
  font-size:15px;
}

/* any label FILLED, EMPTY OR FILLED*/
.form-theme-dark .form-group.is-filled .bmd-label-floating,
.form-theme-dark .form-group.is-filled .bmd-label-static,
.form-theme-dark .form-group.is-filled .bmd-label-floating.__required,
.form-theme-dark .form-group.is-filled .bmd-label-static.__required{
  color:rgba(255,255,255,.6);
  margin-top:-5px;
  font-size:15px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                                                      
    ██╗    ███╗   ██╗    ██████╗     ██╗   ██╗    ████████╗    ███████╗
    ██║    ████╗  ██║    ██╔══██╗    ██║   ██║    ╚══██╔══╝    ██╔════╝
    ██║    ██╔██╗ ██║    ██████╔╝    ██║   ██║       ██║       ███████╗
    ██║    ██║╚██╗██║    ██╔═══╝     ██║   ██║       ██║       ╚════██║
    ██║    ██║ ╚████║    ██║         ╚██████╔╝       ██║       ███████║
    ╚═╝    ╚═╝  ╚═══╝    ╚═╝          ╚═════╝        ╚═╝       ╚══════╝
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.form-theme-dark .form-group  .form-control{
  background-image: linear-gradient(0deg,rgba(255,255,255,.2) 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(255,255,255,.1) 1px,transparent 0);
}

/* focus out and empty normal*/
.form-theme-dark .form-group input.form-control{
  color:rgba(255,255,255,.8);
}
/* any label FOCUSED, EMPTY*/
.form-theme-dark .form-group.is-focused input.form-control{
  color:rgba(255,255,255,.8);
}

/* any label FILLED, EMPTY OR FILLED*/
.form-theme-dark .form-group.is-filled input.form-control{
  color:rgba(255,255,255,.8);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                                                                          
    ███████╗    ██╗   ██╗            ██╗     ██████╗     ██████╗     ███╗   ██╗    ███████╗
    ██╔════╝    ██║   ██║            ██║    ██╔════╝    ██╔═══██╗    ████╗  ██║    ██╔════╝
    █████╗      ██║   ██║            ██║    ██║         ██║   ██║    ██╔██╗ ██║    ███████╗
    ██╔══╝      ╚██╗ ██╔╝            ██║    ██║         ██║   ██║    ██║╚██╗██║    ╚════██║
    ██║          ╚████╔╝             ██║    ╚██████╗    ╚██████╔╝    ██║ ╚████║    ███████║
    ╚═╝           ╚═══╝              ╚═╝     ╚═════╝     ╚═════╝     ╚═╝  ╚═══╝    ╚══════╝
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.form-group.has-error .fv-ico{
  color:orange;
  font-size:13px;
}

.form-group.has-success .fv-ico{
  color:yellowgreen;
}
/*Visibility used instead display, to mantein row heights, needs formValidation-custom on base vendors*/
.form-group .help-block{
  color:orange;
}
