/*
  <a href = '#' class = 'image-effect'>
    <img src = "imagem" class = 'img-fluid w-100 m-auto' alt = '...'/>
  </a>
*/
.hover-effect{
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/*image hover effects */
.image-effect{
  background-color:#111;
  position:relative;
  display:block;
  overflow:hidden;
  /*background-image:url('/images/patterns/flowers.png');*/
}

.image-effect img{
  width:100%;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  /*para prevenir o flicker da opacidade em elementos img com transition*/
  transform: rotate(0);
  -moz-transform: rotate(0);
  -webkit-transform: translateZ(0);
  background-color:rgba(255,255,255,1);
}

.image-effect:hover img{
  opacity:.6;
  transform: scale(1.1,1.1) rotate(0);
  -webkit-transform: scale(1.1,1.1) translateZ(0);
}

.image-effect::after,.image-effect::before{
  font-family:'dv icons';
  content:'\002b';
  position:absolute;
  box-sizing: content-box;
  width:62px;
  height:62px;
  line-height:62px;
  font-size:36px;
  border-radius:50%;
  border:2px rgba(255,255,255,0) dashed;
  left: calc(50% - 31px);
  top: 0;
  text-align:center;
  color:#111;
  opacity:0;
	-moz-transition: all .6s ease-out;
	-ms-transition: all .6s ease-out;
	-o-transition: all .6s ease-out;
  transition: all .6s ease-out;
}
.image-effect::before{
  content:0;
  color:rgba(255,255,255,0);
  border:2px #111 dashed;
}

.image-effect:hover::after,.image-effect:hover::before{
  color:#fff;
  top: calc(50% - 31px);
  opacity:.6;
}
.image-effect:hover::before{
  border-color:#fff;
  color:rgba(255,255,255,0);
  -webkit-animation: rotation 6s infinite linear;
  animation: rotation 6s infinite linear;
}
