/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  .simple-menu li{
    width:100%!important;
    float:none;
  }

  body{
    padding-top:70px;
  }

  #navbar-menu{
    background-color:#11638a;
    position:fixed!important;
    top:0;
    left:0;
    width:100%;
    z-index:1060;
    box-shadow:0 2px 6px rgba(0,0,0,0.2);
  }
  .main-logo{
    margin:3em auto 1em auto!important;
  }

  .title{
    font-size:2.5em;
  }
  .title span{
    padding-left:60px;
  }
  
  h3.title{
    font-size:1.6em!important;
    margin-top:-60px!important;
  }
  h3.title span{
    background-color:rgba(0,0,0,.4)!important;
    padding:.2em 0;
    background:none;
    float:left;
    width:100%;
  }
  .menu-exped li{
    margin:0 .3em !important;
  }
    .menu-exped li a{
    font-size:1.2em!important;
  }  
  /**
  *** Seta para CIMA
  **/
  .menu-exped li a.active:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    margin-left:20%;
  }

  h2.subt{
    font-size:1em;
  }
  
}
/* opos */
@media (min-width: 576px){
  .navbar-toggler{
    display:none;
  } 
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .simple-menu li a{
    font-size:.95em!important;
    padding-left:.6em!important;
    padding-right:.6em!important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}