p,a,h1,h2,h3,h4,h5,h6{  
  font-family:'Roboto Slab',sans-serif;
}
a:hover{
  text-decoration:none!important;
}

.subtitulo{
  font-size:18px!important;
  color:rgba(110,100,15,.7);
}


.bg-primary-color-dark{background-color:#000!important}
.bg-primary-color{background-color:#222!important}
.bg-primary-color-light{background-color:#555!important}

.bg-secondary-color-dark{background-color:#736610;}
.bg-secondary-color{background-color:#d9b875;}
.bg-secondary-color-light{background-color:#ffe1a3;}
.fg-secondary-color-dark,h2{color:#736610;}
.fg-secondary-color{color:#d9b875;}
.fg-secondary-color-light{color:#ffe1a3;}

.bg-texture-a{
  position:relative;
}
.bg-texture-a::before{
  content:'';
  background-image:url('/fe/images/patterns/wavecut.png');
  position:absolute;
  width:100%;
  opacity:.2;
  height:100%;
  top:0;
  left:0;
}

.main-ff{font-family:'Roboto Slab',sans-serif}
.alt-ff{font-family:'Poppins',sans-serif}
