﻿.float-panel {
  width:100%;
	background-color:rgba(0,0,0,0);
  padding:0;
}

.no-fixed{
  animation:slide-up 0.7s;  
}
.fixed{
  animation:slide-down 0.7s;
  position:fixed!important;
  top:0;
  left:0;
  width:100%;
  z-index:1060;
  background-color:blue;
  box-shadow:0 2px 6px rgba(0,0,0,0.2);
}

@keyframes slide-down {
	0% {
      opacity: 0;
	} 
	100% {
      opacity: 1;
	} 
}

@keyframes slide-up {
	0% {
			opacity: 0;
	} 
	100% {
			opacity: 1;
   } 
}

