header.main{
  position:relative;
}

/*HEADER*/
body{
  background-image:url('/fe/images/patterns/wavecut.png');
  background-color:#f3f4d9;
}

.header-top-bar{
  margin-bottom:1em;
  position:relative;
  height:32px; 
}
.header-top-bar::before{
  content:'';
  background-image:url('/fe/images/patterns/wavecut.png');
  position:absolute;
  width:100%;
  opacity:.2;
  height:100%;
}

.social-media-blk a *{
  color:rgba(255,255,255,.6);
  text-decoration:none;
  margin:auto!important;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.social-media-blk a:hover *{
  color:rgba(230,200,130,1);
}