ul.simple-menu{
  margin:0;
  padding:0;
  display:list-item;
}

ul.simple-menu > li {
	cursor: pointer;
  list-style:none;	
  float:right;
}

ul.simple-menu > li a {
  font-family:'Roboto Slab',sans-serif;
  font-size:1.1em;
  font-weight:normal;
  text-transform:none;
  padding: 0 .5em;
	color: #777;  
}

ul.simple-menu > li a .ico{
	color: #777;  
}

ul.simple-menu > .active a,
ul.simple-menu > li a:hover,
ul.simple-menu > .active a .ico,
ul.simple-menu > li a:hover .ico{
  color:#a68d5a;
}

/* menu formatado no fixed top*/

.fixed ul.simple-menu{
  margin:5px 5px 5px 0;
}
.fixed ul.simple-menu > li a {
  color:rgba(255,255,254,.6);
}

.fixed ul.simple-menu > .active a,
.fixed ul.simple-menu > li a:hover,
.fixed ul.simple-menu > .active a .ico,
.fixed ul.simple-menu > li a:hover .ico{
  color:rgba(255,255,254,1);
}
